.pp {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, 0);
    animation: slide-in 1s forwards;
  }

  @keyframes slide-in {
    from { top: -100%; }
    to { top: 50%; }
  }